
<div class="container">
<h1>Your taxes, done better.</h1>
<div class="container">
<h4>No complex software.</h4>
<h4>No in-person meetings.</h4>
<h4>100% transparent pricing.</h4>
</div>
	

	<form class="form-horizontal container col-md-5" role="form">
		<div class="shade">	</div><!-- shade-->

	<div id="signup-form" class="form-group container">
	<h5>Meet your personal accountant:</h5>
		<div class="checkbox">
			<label>
				<input type="checkbox"> I am married
			</label>
		</div>

			<div class="checkbox">
			<label>
				<input type="checkbox"> I own my home
			</label>
		</div>
			
		<div class="checkbox">
			<label>
				<input type="checkbox"> I have rental income
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox"> I have kids
			</label>
		</div>


	<h3 class="pull-left">Your Price: $200</h3>

	<%= link_to "Next", "#", class: "btn btn-primary pull-right" %>

	</div>

	</form>




</div>