
<div id="splash" class="container">
	<div class="container">
	
	
	<h1>Your taxes, done better.</h1>
	<h4 class="pull-left clearfix">No complex software. No in-person meetings. 100% transparent pricing.</h4>	


		<form class="form-horizontal col-xs-11 col-md-5 col-sm-7 col-lg-5 clearfix" role="form">
			<div class="shade">	</div><!-- shade-->

			<div id="signup-form" class="form-group container">
				<h3>Get your instant quote:</h3>

			
					<div class="checkbox">
						<label>
							<input type="checkbox"> I am married
						</label>
					</div>
						
					<div class="checkbox">
						<label>
							<input type="checkbox"> I have rental income
						</label>
					</div>

 					<h5 class="question">Children</h5>
					<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary">
					    <input type="radio" name="options" id="option1"> 0
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option1"> 1
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option2"> 2
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option3"> 3
					  </label>
					</div>


					<h5 class="question">Properties</h5>
					<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary">
					    <input type="radio" name="options" id="option1"> 0
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option1"> 1
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option2"> 2
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" id="option3"> 3
					  </label>
					</div>

			<h3 class="pull-right">Your Guaranteed Price: $0*</h3>
			<h6 class="pull-right clearfix"> * No hidden fees, ever. We promise.</h6>
			<%= link_to "Meet your 100% certified personal accountant", signup_path, class: "btn btn-success btn-block pull-right" %>
			</div>
		</form>
		</div> 
</div>

<div id="more-info" class="container">
<!-- <h2 class="center">Our Promise</h2> -->
<div class="panel panel-info col-sm-4 no-lr-padding">
  <div class="panel-heading">
    <h3 class="panel-title">Zero Hassle</h3>
  </div>
  <div class="panel-body">
    The most complex software you'll need to communicate with your CPA is email. Send us your tax forms and relax while we prepare them for you.
  </div>
</div>

<div class="panel panel-info col-sm-4 no-lr-padding ">
  <div class="panel-heading">
    <h3 class="panel-title">No Hidden Fees</h3>
  </div>
  <div class="panel-body">
    The price you see on this page is the price you pay. If it takes us longer than expected to complete your return, we pick up the additional costs.
  </div>
</div>

<div class="panel panel-info col-sm-4 no-lr-padding">
  <div class="panel-heading">
    <h3 class="panel-title">100% Certified Public Accounts</h3>
  </div>
  <div class="panel-body">
   Our accountants are all educated and based in the US and have worked for the big three US accounting firms.
  </div>
</div>
	
</div>