<div class="container" id="signupPage">
	<div class="container col-lg-5 pull-left">
		<img class="img-circle pull-left clearfix img-responsive col-lg-10 col-lg-offset-1" id="cpaimg" src="<%= image_path'stockguy.jpg'%>">
		<h1 class="pull-left clearfix">Meet Ben.</h1>
		<h3 class="pull-left clearfix">Ben is an amazing accountant with a degree from a fancy accounting school. He worked for 3 years at an awesome fancy accounting firm before he came to work for us! He's great at doing taxes, and can't wait to get started on yours today.</h3>
	</div>

	<div class="container col-lg-5 pull-left">

	<div id="howitworks" class="col-lg-12 pull-left">
		<div class="container col-lg-4">
			<span class="glyphicon glyphicon-edit"></span>
			<h4>You submit</h4>
		</div>

		<div class="container col-lg-4">
			<span class="glyphicon glyphicon-user"></span>
			<h4>We prep</h4>
			</div>
		<div class="container col-lg-4">
			<span class="glyphicon glyphicon-send"></span>
			<h4>You approve</h4>
		</div>
	</div>

		
		<h1>Let's do this.</h1>
		<h4>Welcome to the best 5 minutes you'll spend this tax season.</h4>
			<form role="form" id="form1">

				<div class="form-group">
					<label for="email">Email address</label>
		    		<input type="email" class="form-control" id="email" placeholder="Email">
		  		</div>
		  
			  <%= link_to "Sign up", signup_path, id:"signup", class: "btn btn-success btn-lg pull-right" %>
			</form>





			<form role="form" class="invisible form-horizontal panel panel-default" id="form2">
<!-- 				<h2><small>Pay half today, and the rest when we finish the job.</small><h2>
 -->                   

                    	<div class="form-group col-lg-12">
							<label for="name" class="col-lg-6 pull-left">Name</label>
							<div class="col-lg-6">
				    		<input type="name" class="form-control" id="name" placeholder="Enter name">
				    		</div>
				  		</div>

				  	<div class="form-group col-lg-12">
                    	<label class="col-lg-6 pull-left"for="cc-number">Card Number</label>
                        <div class="col-lg-6">
                            <input type="text" id="cc-number" class="form-control" autocomplete="off" placeholder="4111111111111111" maxlength="16" />
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                    	<label class="col-lg-6 pull-left" for="cc-ex-month">Expiration</label>
                        <div class="col-lg-3">
                            <input type="text" id="cc-ex-month" class="form-control" autocomplete="off" placeholder="01" maxlength="2" />
                        </div>
                        <div class="col-lg-3">
                            <input type="text" id="cc-ex-year" class="form-control" autocomplete="off" placeholder="2013" maxlength="4" />
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label class="col-lg-9 pull-left">Security Code (CSC)</label>
                        <div class="col-lg-3">
                            <input type="text" id="ex-csc" class="form-control" autocomplete="off" placeholder="453" maxlength="4" />
                        </div>
                    </div>
                <div class="form-group col-lg-6 pull-right" id="buttons">
                	<a id="cc-back" class="btn btn-large btn-default pull-left">Back</a>
                	<a id="cc-submit" class="btn btn-large btn-primary pull-right">Submit</a>
                </div>
        </form>

               
	</div>
	<div id="promise" class="container pull-left col-lg-5 invisible">
	   <div class="well">
          <span class="glyphicon glyphicon-certificate"></span>
          <h4 class="pull-right col-lg-10">We stand by our work. If you're unsatisfied for any reason, we'll offer a full refund, no questions asked.</h4>
      </div>
    </div>
</div>