#splash {
	background: image-url("girl-sm.jpg") no-repeat;
	background-size:cover;
	max-width: 100%;
	margin-bottom: 30px;

	.form-horizontal {
		padding-left: 0 !important;
	}
	.question {
		float: left;
		width: 100px;
		clear:both;
	}
	.btn-group {
		display:block;
		.btn {
			background-color:rgba(26, 188, 156,1.0);
			border-color: rgba(22, 160, 133,1.0);
		}
		.btn:hover {
			background-color: rgba(22, 160, 133,1.0);
		}
	}
	.btn, .checkbox {
		margin-bottom: 15px !important;
	}
	.shade {
		height: 400px;
		background: white;
		opacity: .5;
		}
	#signup-form {
		position:relative;
		top: -400px;
		margin-left: 0;
		margin-right: 0;

		h6 {
			margin-top: 0;
		}
	}
}


// #more-info .panel{
//   @include make-lg-column(3);
//   @include make-lg-column-offset(1);
//   @include make-md-column(3);
//   @include make-md-column-offset(1);
//   @include make-sm-column(3);
//   @include make-sm-column-offset(1);
//   // height: 150px;
// }