#signupPage {
	#cpaimg {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	#form2 {
			padding:30px;
		.form-group {
			margin-bottom: 30px;
		}
		#buttons {
			margin-top: -15px;
		}
	}

	.glyphicon-certificate {
		font-size: 28px;
		margin-left: 20px;
	}

		#howitworks {
				margin-top: 20px;
				text-align: center;
				// margin-left: 30px;
				display:block;
				padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 0;

			.container:first-child {
				padding-left: 0;
			}
			.glyphicon  {
				font-size: 30px;
			}
			.container {
			  // @include make-lg-column(4);
			 
			  // @include make-md-column(4);
			 
			  // @include make-sm-column(4);
			  // @include make-xs-column(4);
			

				}
			}

			.well {
				h4 {
					margin-top: -8px;
				}
			}
}