<nav class="navbar navbar-default">
<div class="container">
<h1><%= link_to "Simplefile", root_path, id:'title'%></h1>
<!-- <img id="logo" src="/assets/SimpleFile-4.png"> -->

<ul class="nav nav-pills pull-right">
    <li><a href="#">About</a></li>
    <li><a href="#">FAQ</a></li>
</ul>
</div>
</nav>